<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
    <!--* normal use <link rel="stylesheet" href="/Day6/public/stylesheets/style.css" /> -->
    <!-- !use after path.jon method -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello Shankar</h1>
    <!-- for calculation syntax <%= %> -->
    <h3>How is 2+2 = <%= 2+2%></h3>
    <script src="/javascript/script.js"></script>
  </body>
</html>
